
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Medical Checkups Application</h1>
        <a href="http://localhost:3000">Visit application</a>

        <p class="lead">Login to see your checkups</p>
        <hr class="my-4">

        <p class="lead">If you do not have account, please register</p>

    </div>
</div>
</body>
</html>